.nk-blog-post {
    margin-bottom: 30px;

    .nk-blog-isotope & {
        margin-bottom: 40px;
    }
}
.nk-post-title {
    margin-bottom: 10px;
}
.nk-post-title > a {
    color: inherit;
    text-decoration: none;
    transition: .15s color;

    &:hover,
    &.hover {
        color: $color_main_1;
    }
}

.nk-post-img {
    position: relative;
    display: block;
    overflow: hidden;
    transition: opacity .15s ease-in-out;

    img {
        width: 100%;
        height: auto;
        transition: transform .15s ease-in-out;
        transform: scale(1);
        will-change: transform;

        .nk-blog-post:not(.nk-blog-post-single):hover & {
            transform: scale(1.05);
        }
    }

    &:hover {
        opacity: .8;
    }

    .nk-post-comments-count {
        position: absolute;
        display: block;
        right: 10px;
        bottom: 10px;
        min-width: 33px;
        height: 29px;
        padding: 0 8px;
        font-weight: 600;
        line-height: 29px;
        text-align: center;
        vertical-align: text-top;
        background-color: $color_headings;
        border-radius: 50%;

        &,
        &:focus,
        &:hover,
        &:active {
            color: $color_dark_1;
            text-decoration: none;
        }

        &::after {
            content: "";
            position: absolute;
            display: inline-block;
            bottom: -2px;
            left: 65%;
            width: 0;
            height: 0;
            vertical-align: middle;
            border-top: 9px solid $color_headings;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
            transform: rotate(-30deg);
        }
    }
}

// posted by
.nk-post-by {
    margin-top: 15px;
    font-size: .8em;

    &::after {
        content: "";
        display: block;
        clear: both;
    }

    img {
        height: auto;
        margin-right: 11px;
    }
}

// categories list
.nk-post-categories {
    float: right;
    margin-top: 6px;
    font-size: 1rem;

    span,
    a {
        padding: 2px 19px;
        color: $color_headings;
        background-color: $color_dark_3;
        border-radius: 4px;

        + span,
        + a {
            margin-left: 7px;
        }
    }

    .nk-post-img & {
        position: absolute;
        top: 10px;
        left: 0;

        span,
        a {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

// date
.nk-post-date {
    margin-top: 5px;
    font-size: .9em;
    color: $color_text;

    span {
        margin-right: 6px;
        font-size: 1rem;

        ~ span {
            margin-left: 10px;
        }
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover,
        &.hover,
        &:focus,
        &:active {
            color: $color_main_1;
        }
    }
}

// border for posts
.nk-blog-post-border-bottom {
    padding-bottom: 20px;
    margin-bottom: 22px;
    border-bottom: 1px solid $color_dark_3;
}

.nk-post-share {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    background-color: $color_dark_3;

    > span {
        margin-bottom: 0;
    }

    ul {
        margin-left: auto;
    }
}

.nk-post-text {
    &::after,
    &::before {
        content: "";
        display: block;
        clear: both;
    }

    .pull-right,
    .pull-left,
    .float-right,
    .float-left {
        margin: 20px;
    }
    .pull-right,
    .float-right {
        margin-right: 0;
    }
    .pull-left,
    .float-left {
        margin-left: 0;
    }

    > p:last-child {
        margin-bottom: 0;
    }
}

/* FullWidth Posts */
.nk-blog-fullwidth {
    .nk-post-by {
        margin-top: 0;
        font-size: 1em;
        text-align: right;

        img {
            float: right;
            height: auto;
            margin-left: 20px;
        }
    }
}

// comments
$comments_avatar_width: 50px !default;
.nk-comments {
    .nk-comment {
        &::after {
            content: "";
            display: block;
            clear: both;
        }

        // review title
        h4 {
            margin-top: 25px;
        }

        .nk-comment {
            margin-left: 120px;

            @media #{$media_xs} {
                margin-left: 80px;
            }

            @media #{$media_xxs} {
                margin-left: 30px;
            }
        }

        .nk-comment,
        + .nk-comment {
            padding-top: 20px;
            clear: both;
        }

        // comment meta
        .nk-comment-meta {
            margin-bottom: 15px;
            font-size: .8em;

            img {
                height: auto;
                margin-right: 11px;
            }
        }

        // comment text
        .nk-comment-text {
            padding-bottom: 15px;
            border-bottom: 1px solid $color_dark_3;
        }
    }
}
