.nk-footer {
    position: relative;
    overflow: hidden;
    color: #eee;
    background-color: rgba(darken($color_dark_1, 3%), .8);
    z-index: 1;
}

.nk-footer-logo {
    text-align: center;
}

.nk-footer-social {
    text-align: center;

    > a {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 6px 4px;
        font-size: 1.15rem;
        line-height: 40px;
        color: inherit;
        border: 1px solid;
        border-radius: 20px;
        transition: .3s color, .3s background-color, .3s border-color;
        will-change: color, background-color;

        &:hover,
        &.hover {
            color: $color_dark_1;
            background-color: #fff;
            border-color: #fff;
        }
    }
    &.nk-footer-social-inverted {
        > a {
            &:hover,
            &.hover {
                color: #fff;
                background-color: $color_dark_1;
                border-color: $color_dark_1;
            }
        }
    }
}
.nk-footer-social-2 {
    text-align: center;

    > a {
        display: inline-block;
        margin: 15px;
        color: inherit;
        text-decoration: none;
        transition: .3s opacity;
        will-change: opacity;

        &:hover,
        &.hover {
            opacity: .6;
        }

        > * {
            display: block;
            margin: 0;
        }

        > .icon {
            margin-bottom: 5px;
            font-size: 2rem;
        }
    }
}

.nk-copyright {
    background-color: #000;

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .nk-copyright-left {
        padding: 25px 0;
    }
    .nk-copyright-right {
        padding: 21px 0;
        margin-left: auto;
    }

    @media #{$media_smaller_sm} {
        .nk-copyright-left,
        .nk-copyright-right {
            width: 100%;
            text-align: center;
        }
        .nk-copyright-right {
            padding-top: 0;
        }
    }
}
