.pswp__button {
    opacity: 1;

    &:hover {
        opacity: .7;
    }
}

.pswp__button--arrow--left {
    left: 15px;
}

.pswp__button--arrow--right {
    right: 15px;
}

.pswp__button--arrow--left::before,
.pswp__button--arrow--right::before {
    top: 24px;
    width: 56px;
    height: 56px;
    background-color: transparent;
    border: 4px solid $color_headings;
    border-radius: 28px;
}

.pswp__button--arrow--left::before {
    left: 8px;
    background-position: -130px -34px;
}

.pswp__button--arrow--right::before {
    right: 8px;
    background-position: -85px -34px;
}

.pswp__top-bar {
    top: 15px;
    right: 15px;
    left: 15px;
    width: auto;
}

@media #{$media_xxs} {
    .pswp__button--arrow--left {
        left: 0;
    }
    .pswp__button--arrow--right {
        right: 0;
    }
    .pswp__top-bar {
        top: 15px;
        right: 0;
        left: 0;
    }
}

.pswp__caption__center {
    max-width: 520px;
    padding: 40px;
    font-size: inherit;
    line-height: inherit;
}
