.nk-product-cat,
.nk-product-cat-2,
.nk-product-cat-3 {
    display: flex;
    flex-wrap: wrap;

    // image
    .nk-product-image {
        position: relative;
        display: block;
        width: 115px;
        overflow: hidden;
        transition: opacity .15s ease-in-out;

        &:hover {
            opacity: .8;
        }

        img {
            width: 100%;
            height: auto;
            transition: transform .15s ease-in-out;
            transform: scale(1);
            will-change: transform;
        }

        ~ .nk-product-cont {
            flex: 1;
            padding-left: 20px;
        }
    }

    &:hover .nk-product-image img {
        transform: scale(1.05);
    }
}
.nk-product-cat-2 {
    .nk-product-image {
        width: 200px;

        ~ .nk-product-cont {
            padding-left: 35px;
        }
    }

    @media #{$media_smaller_sm} {
        .nk-product-image {
            float: none;
            width: 100%;

            ~ .nk-product-cont {
                padding-left: 0;
                margin-top: 30px;
            }
        }
    }
}
.nk-product-cat-3 {
    max-width: 115px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    .nk-product-image {
        float: none;
        width: 100%;

        ~ .nk-product-cont {
            padding-left: 0;
        }
    }
}

// order and count before products list
.nk-store-order {
    float: right;
    margin-top: -9px;
}
.nk-store-count {
    padding-bottom: 9px;
}

// title
.nk-product-title {
    margin-top: 0;
    margin-bottom: 0;
}
.nk-product-title a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &.hover,
    &:active,
    &:focus {
        color: $color_main_1;
    }
}

// price
.nk-product-price {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
    color: $color_headings;
}

// rating
.nk-product-rating {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1;
    vertical-align: text-bottom;
}
.nk-store .nk-product-rating {
    float: right;
}
.nk-product-rating,
.nk-product-rating:hover,
.nk-product-rating:active,
.nk-product-rating:focus {
    color: $color_main_1;
    text-decoration: none;
}
.nk-review-rating {
    display: inline-block;
    margin-left: 5px;
    font-size: .8rem;
    color: $color_main_1;

    .nk-comment & {
        float: right;
        margin-top: 5px;
        font-size: 1rem;
    }
}

/* Single product */
.nk-store-product {
    .nk-product-meta {
        color: $color_headings;
    }
    .nk-product-title {
        margin-bottom: 1.2rem;
    }
    .nk-product-description {
        margin-top: 1.2rem;
    }
    .nk-product-addtocart {
        .nk-product-price {
            font-size: 2rem;
        }

        input {
            max-width: 80px;
            margin-right: 1rem;
        }
        .input-group {
            width: 220px;
        }
    }
    .nk-product-rating {
        font-size: 1.2rem;
    }
    .nk-product-progress {
        margin-top: 20px;

        table {
            width: 100%;

            td:first-child {
                width: 60px;
            }
        }

        .nk-progress {
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }

    // info row
    .nk-product-info-row {
        > * + * {
            &::before {
                content: "";
                position: absolute;
                top: 30px;
                bottom: 0;
                left: 0;
                border-left: 1px solid $color_dark_3;
            }
        }
    }

    // pegi
    .nk-product-pegi {
        img {
            float: left;
            width: 80px;
            height: auto;

            ~ .nk-product-pegi-cont {
                margin-left: 100px;
            }
        }
    }
}


/* Store Cart */
.nk-store-cart {
    .table-responsive .nk-store-cart-products {
        min-width: 680px;
    }
    .nk-store-cart-products {
        color: $color_headings;

        td {
            padding-top: 35px;
            padding-right: 30px;
            padding-bottom: 35px;
            padding-left: 30px;
            background-color: $color_dark_2;
            border-top: 2px solid $color_dark_3;
        }

        tr:first-of-type td {
            border-top: none;
        }

        tbody .nk-product-cart-thumb {
            width: 150px;
            padding-right: 20px;
            padding-left: 20px;

            .nk-post-image {
                display: block;
                overflow: hidden;
                transition: opacity .15s ease-in-out;

                &:hover {
                    opacity: .8;
                }

                img {
                    transition: transform .15s ease-in-out;
                    transform: scale(1);
                    will-change: transform;
                }
            }
        }

        tr:hover .nk-product-cart-thumb .nk-post-image img {
            transform: scale(1.05);
        }

        .nk-product-cart-remove a {
            display: block;
            margin-top: -15px;
            font-size: 1.8rem;
            line-height: 0;
            color: inherit;
            text-decoration: none;
            opacity: .1;
            transition: .15s opacity;

            &:hover,
            &.hover,
            &:focus,
            &:active {
                opacity: .5;
            }
        }

        .nk-product-cart-quantity {
            width: 105px;
        }
        .nk-product-cart-price,
        .nk-product-cart-total {
            width: 150px;
        }
        .nk-product-cart-remove {
            width: 40px;
        }
        .nk-product-cart-price,
        .nk-product-cart-quantity,
        .nk-product-cart-total,
        .nk-product-cart-remove {
            text-align: center;
        }

        @media #{$media_xs} {
            .nk-product-cart-thumb {
                display: none;
            }
        }
    }

    .nk-store-cart-totals {
        margin-top: 30px;

        tr td:first-child {
            padding-left: 0;
        }
        tr td:last-child {
            padding-right: 0;
            text-align: right;
        }

        .nk-store-cart-totals-total td {
            position: relative;
            padding-top: 50px;
            font-size: 1.1rem;
            font-weight: 600;

            &::before {
                content: "";
                position: absolute;
                display: block;
                top: 20px;
                right: 0;
                left: 0;
                border-top: 1px dotted;
                opacity: .3;
            }
        }
    }
}


/* Checkout */
.nk-store-checkout {
    tbody {
        tr.nk-store-cart-totals-subtotal,
        tr.nk-store-cart-totals-shipping,
        tr.nk-store-cart-totals-total {
            background-color: $color_dark_1;
        }
    }
}


/* Dropdown Cart */
.nk-cart-toggle {
    cursor: pointer;
}
.nk-cart-dropdown {
    position: absolute;
    top: 100%;
    right: 20px;
    width: 315px;
    padding: 18px;
    padding-bottom: 30px;
    margin-top: 11px;
    text-align: left;
    visibility: hidden;
    background-color: $color_dark_2;
    border: 1px solid $color_dark_3;
    border-bottom: 4px solid $color_main_1;
    opacity: 0;
    transition: .3s opacity, .3s visibility;
    z-index: 1010;

    .nk-cart-toggle:hover + &,
    &:hover {
        visibility: visible;
        opacity: 1;
    }

    &::before {
        content: "";
        position: absolute;
        display: block;
        top: -18px;
        right: 0;
        left: 0;
        height: 18px;
    }

    .nk-post-title {
        font-size: 1rem;
    }

    .nk-cart-remove-item {
        float: right;
        padding: 5px;
        margin-top: -10px;
        font-size: 1.8rem;
        opacity: .2;
        transition: .15s opacity;

        &,
        &:hover {
            color: $color_headings;
        }
        &:hover {
            opacity: 1;
        }
    }
}
