
/* Teammate */
.nk-teammate-card {
    position: relative;
    display: flex;
    background-color: darken($color_dark_1, 7%);

    .nk-teammate-card-photo {
        align-self: flex-end;
        width: 50%;
        padding-right: 15px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .nk-teammate-card-info {
        width: 50%;
        padding-left: 15px;

        > table {
            width: 100%;
        }
        > table > tbody > tr > td {
            padding: 20px 10px;
        }
        > table > tbody > tr + tr > td {
            border-top: 1px dotted rgba($color_headings, .2);
        }
    }

    @media #{$media_smaller_xs} {
        display: block;

        .nk-teammate-card-photo,
        .nk-teammate-card-info {
            width: 100%;
            padding-right: 0;
            padding-left: 0;
        }
    }
}

/* Score */
.nk-match-score {
    display: inline-block;
    padding: 9px 19px;
    font-family: $font_headings;
    font-size: .87rem;
    font-weight: 600;
    line-height: 1.2;
    color: $color_headings;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;

    background-color: lighten($color_dark_3, 20%);
    border-radius: 4px;
}

/* Match */
.nk-match {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    color: $color_headings;
    background-color: $color_dark_3;

    + .nk-match {
        margin-top: 15px;
    }

    .nk-match-team-left,
    .nk-match-team-right,
    .nk-match-status {
        width: 35%;

        > a {
            color: inherit;
            text-decoration: none;

            &:hover {
                color: $color_main_1;
            }
        }
    }
    .nk-match-team-left > *,
    .nk-match-team-right > * {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .nk-match-status {
        width: 30%;
        text-align: center;

        .nk-match-status-vs {
            display: block;
            margin-bottom: 4px;
            font-weight: 600;
        }
        .nk-match-status-date {
            display: block;
            font-size: .9em;
        }
        .nk-match-score {
            margin-top: 10px;
        }
    }
    .nk-match-team-right {
        text-align: right;
    }
    .nk-match-team-name {
        flex: 1;
        font-family: $font_headings;
        font-weight: 600;
        text-transform: uppercase;
    }
    .nk-match-team-left .nk-match-team-name {
        padding-left: 20px;
    }
    .nk-match-team-right .nk-match-team-name {
        padding-right: 20px;
    }

    @media #{$media_smaller_sm} {
        display: block;

        .nk-match-team-left,
        .nk-match-team-right,
        .nk-match-status {
            width: 100%;
        }
        .nk-match-status {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

/* Team */
.nk-team {
    display: flex;
    align-items: center;
    width: 100%;
    color: $color_headings;
    background-color: $color_dark_3;

    + .nk-team {
        margin-top: 15px;
    }

    .nk-team-logo {
        align-self: flex-start;
    }
    .nk-team-logo img {
        max-width: 140px;
        height: auto;

        @media #{$media_smaller_xs} {
            max-width: 50px;
        }
    }

    .nk-team-cont {
        position: relative;
        flex: 1;
        padding: 20px;
        z-index: 0;

        a {
            color: inherit;
            text-decoration: none;

            &:hover,
            &.hover,
            &:focus,
            &:active {
                color: $color_main_1;
            }
        }

        .nk-team-photo {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: bottom right;
            z-index: -1;

            @media #{$media_smaller_xs} {
                display: none;
            }
        }
    }
}
