html {
    font-size: $html_font_size;
}

body {
    font-family: $font_body;
    line-height: $body_line_height;
    letter-spacing: .015em;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin-bottom: 1.5rem;
}

b,
strong {
    font-weight: 600;
}

label {
    font-weight: 600;
    color: $color_headings;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 1.5rem;
    font-family: $font_headings;
    font-weight: 600;
    color: $color_headings;
    text-transform: uppercase;
}
h1,
.h1 {
    font-size: 3rem;
}
h2,
.h2 {
    font-size: 2.35rem;
}
h3,
.h3 {
    font-size: 1.75rem;
}
h4,
.h4 {
    font-size: 1.32rem;
}
h5,
.h5 {
    font-size: 1.02rem;
}
h6,
.h6 {
    font-size: .88rem;
}
.display-1,
.display-2,
.display-3,
.display-4 {
    font-family: $font_headings;
    font-weight: 600;
    text-transform: uppercase;
}
.display-1 {
    font-size: 4.7rem;
}
.display-2 {
    font-size: 4.2rem;
}
.display-3 {
    font-size: 3.7rem;
}
.display-4 {
    font-size: 3.2rem;
}
.nk-decorated-h,
.nk-decorated-h-2 {
    display: flex;

    > span,
    > a {
        display: block;
        flex: auto;
        padding-right: 20px;
        padding-left: 20px;
    }

    &::after,
    &::before {
        content: "";
        display: block;
        flex: 100;
        border-bottom: 4px solid;
        transform: translateY(-10px);
    }
    &::before {
        flex: 20px;
        width: 20px;
        min-width: 20px;
    }
}
.nk-decorated-h-2 {
    &::after,
    &::before {
        border-bottom-color: $color_dark_3;
    }
}
.nk-decorated-h-3 {
    display: flex;

    > span,
    > a {
        display: block;
        flex: auto;
        padding-right: 20px;
    }

    &::after {
        content: "";
        display: block;
        flex: 100;
        border-bottom: 4px solid $color_main_1;
        transform: translateY(-4px);
    }
}

/* Title */
.nk-title {
    position: relative;
    z-index: 1;
}

/* Sub Title */
.nk-sub-title {
    position: relative;
    font-family: $font_body;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 400;
    color: $color_main_1;
    z-index: 1;

    .nk-title + & {
        margin-top: 1rem;
    }
}

/* Back title */
.nk-title-back {
    margin-bottom: 0;
    font-size: 6rem;
    color: inherit;
    opacity: .1;

    + * {
        position: relative;
        margin-top: -40px;
    }

    + .nk-sub-title {
        margin-top: -50px;
    }
}

/* Title Separator */
.nk-title-sep {
    display: block;
    margin: 30px auto;
    line-height: 0;
    color: inherit;

    &::after {
        content: "";
        display: inline-block;
        width: 80%;
        max-width: 80px;
        vertical-align: middle;
        border-bottom: 1px dotted;
        opacity: .4;
    }
}
.nk-title-sep-icon {
    display: block;
    margin: 30px auto;
    line-height: 0;
    color: inherit;

    .icon {
        font-size: 1.9rem;
        vertical-align: middle;
    }

    &::before,
    &::after {
        content: "";
        display: inline-block;
        width: 60px;
        vertical-align: middle;
        border-bottom: 1px dotted;
        opacity: .4;
    }
    &::before {
        margin-right: 20px;
    }
    &::after {
        margin-left: 20px;
    }
}

/* mega menu titles */
.nk-mega-item > .dropdown > ul li > label {
    font-family: $font_headings;
}
